<li>
  <%= gravatar_for patient.user, size: 50 %>
  <%= link_to patient.user.last_name, edit_admin_patient_path(patient) %>
  | <%= link_to "delete", patient, method: :delete,
                data: {confirm: "You sure?"} %>
  | <%= link_to "appointments list", admin_patient_path(staff) %>
</li>